{% extends 'app_general/components/base.html' %}

{% block site_title %} {{food.title}} {{food_id}}{% endblock site_title %}

{% block content %}
<div>   
    {% if food is not None %}
    <div style="background-color:">    
        <h3><a href ="{% url 'food' food.id %}">{{food.title}}</a></h3>
        {% if  food.special_price is not none %}
        <p>
            <span>{{food.special_price|floatformat:'g'}} บาท</span>
            <del>{{food.price|floatformat:'g'}} บาท</del>
        </p>

        {% else %}
        <p>{{food.price|floatformat:'g'}} บาท</p>
        {% endif %}
            {% if food.is_premium%}
                <p> *** เมนูสุดพิเศษ </p>
                {% endif %}
                <p>โปรโมชั่นถึง {{food.promotion_end_at|date:'j N Y'}}</p>
                <p>sfddddddddddddddddddddddgsdgfdsgggggggggggggggggggggggggggggggggggggggds</p>
        </div>
    {% else %}
        <p>ไม่พบเมนู</p>


        {% endif %}
{% endblock content %}